:root{

    --primary:#2563EB;
    --success:#16A34A;
    --warning:#F59E0B;
    --danger:#DC2626;

    --background:#F8FAFC;
    --card:#FFFFFF;

    --border:#E5E7EB;

    --heading:#111827;
    --text:#374151;
    --muted:#6B7280;

    --radius:12px;
}